In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,12/20/21 2:50,-21.2078,-159.7750,82.45,69,75,6.91
1,1,Barrow,US,12/20/21 2:50,71.2906,-156.7887,6.82,78,90,33.38
2,2,Bluff,NZ,12/20/21 2:49,-46.6000,168.3333,63.81,84,99,30.65
3,3,Marstal,DK,12/20/21 2:52,54.8562,10.5173,39.90,76,0,17.22
4,4,Castro,BR,12/20/21 2:52,-24.7911,-50.0119,54.43,93,15,5.95

In [3]:
# Getting the data types
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534 entries, 0 to 533
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     534 non-null    int64
 1   City        534 non-null    object
 2   Country     530 non-null    object
 3   Date        534 non-null    object
 4   Lat         534 non-null    float64
 5   Lng         534 non-null    float64
 6   Max Temp    534 non-null    float64
 7   Humidity    534 non-null    int64
 8   Cloudiness  534 non-null    int64
 9   Wind Speed  534 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 41.8+ KB

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Creating heat map for humidiy
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Creating heat map for cloudiness

locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Creating heat map for windiness

locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,12/20/21 2:50,-21.2078,-159.7750,82.45,69,75,6.91
7,9,Mitsamiouli,KM,12/20/21 2:52,-11.3847,43.2844,80.40,73,83,6.11
11,15,Grand Gaube,MU,12/20/21 2:52,-20.0064,57.6608,80.38,76,80,1.99
14,18,Vaini,TO,12/20/21 2:52,-21.2000,-175.2000,87.96,79,40,10.36
20,25,Vao,NC,12/20/21 2:52,-22.6667,167.4833,77.13,87,65,15.61
28,34,Nieuw Amsterdam,SR,12/20/21 2:52,5.8833,-55.0833,78.03,90,59,7.05
46,54,Biak,ID,12/20/21 2:52,-0.9131,122.8766,84.72,67,96,1.79
50,58,Busselton,AU,12/20/21 2:51,-33.6500,115.3333,81.05,35,0,6.53
52,60,Belem De Sao Francisco,BR,12/20/21 2:52,-8.7539,-38.9658,79.68,60,94,11.99
63,73,Carnarvon,AU,12/20/21 2:52,-24.8667,113.6333,82.47,57,0,13.80

In [16]:
preferred_cities_df.count()

City_ID       134
City          134
Country       134
Date          134
Lat           134
Lng           134
Max Temp      134
Humidity      134
Cloudiness    134
Wind Speed    134
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                      City Country  Max Temp      Lat       Lng Hotel Name
0                   Avarua      CK     82.45 -21.2078 -159.7750
7              Mitsamiouli      KM     80.40 -11.3847   43.2844
11             Grand Gaube      MU     80.38 -20.0064   57.6608
14                   Vaini      TO     87.96 -21.2000 -175.2000
20                     Vao      NC     77.13 -22.6667  167.4833
28         Nieuw Amsterdam      SR     78.03   5.8833  -55.0833
46                    Biak      ID     84.72  -0.9131  122.8766
50               Busselton      AU     81.05 -33.6500  115.3333
52  Belem De Sao Francisco      BR     79.68  -8.7539  -38.9658
63               Carnarvon      AU     82.47 -24.8667  113.6333

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
7,Mitsamiouli,KM,80.40,-11.3847,43.2844,Foyer ADM
11,Grand Gaube,MU,80.38,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
14,Vaini,TO,87.96,-21.2000,-175.2000,Keleti Beach Resort
20,Vao,NC,77.13,-22.6667,167.4833,Hotel Kou-Bugny
28,Nieuw Amsterdam,SR,78.03,5.8833,-55.0833,Hotel Stardust
46,Biak,ID,84.72,-0.9131,122.8766,Penginapan Kim
50,Busselton,AU,81.05,-33.6500,115.3333,Observatory Guest House
52,Belem De Sao Francisco,BR,79.68,-8.7539,-38.9658,Village Hotel
63,Carnarvon,AU,82.47,-24.8667,113.6333,Hospitality Carnarvon

In [35]:
# # Add a heatmap of temperature for the vacation spots and marker for each city.
# locations = hotel_df[["Lat", "Lng"]]
# max_temp = hotel_df["Max Temp"]
# fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
#              dissipating=False, max_intensity=300, point_radius=4)
# marker_layer = gmaps.marker_layer(locations)
# fig.add_layer(heat_layer)
# fig.add_layer(marker_layer)
# # Call the figure to plot the data.
# fig

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [37]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))